---
import PageLayout from "src/layouts/PageLayout.astro";

import { PEOPLE } from "src/podcast";

const FRANK = PEOPLE.Frank;
---

<PageLayout title="Frank">
  <section>
    <h1
      class="font-extrabold text-3xl md:text-5xl tracking-tight pt-4 pb-2 overflow-hidden mb-5"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        {FRANK.name}
      </span>
    </h1>

    <img
      src={FRANK.imgUrl}
      alt={FRANK.name}
      class="rounded-lg w-40 float-left mr-3 mt-2"
    />
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas suscipit
      debitis quam fugit voluptatem officia. Non, quae! Cumque voluptatibus a,
      dolorem fuga et beatae perferendis praesentium, consectetur explicabo
      nostrum, molestias tenetur repudiandae natus quod. Repudiandae voluptas
      dolore necessitatibus facilis placeat, animi atque officiis! Officia
      illum, obcaecati dolorum vitae sapiente sint natus dicta tempora, maxime
      consequuntur numquam suscipit voluptate fuga aperiam accusamus nam
      assumenda sit ut recusandae eaque earum ipsam corporis doloremque placeat.
      Minus deleniti id rerum quod. Sed soluta quae fugit, aperiam doloremque
      atque magnam aspernatur animi nam quibusdam eveniet aliquam iusto corrupti
      vero rem similique sapiente illum quas. Aperiam nesciunt quod vero
      praesentium fugiat sed mollitia similique, officia eius dolores explicabo,
      quaerat necessitatibus doloremque autem placeat, amet voluptas harum
      facilis! Animi error impedit delectus! Corrupti aliquid quaerat tenetur
      dignissimos dolore, quibusdam repellat quidem quas. Modi exercitationem
      animi labore sit, explicabo nesciunt voluptas impedit hic totam, eveniet
      odit consectetur doloremque officiis praesentium tempore nostrum iste
      earum deserunt maxime esse molestiae incidunt laudantium? Voluptas, ab
      saepe odit delectus, libero, vero mollitia quis deleniti exercitationem
      laboriosam sunt obcaecati rem ducimus aspernatur iure. Officia eius
      itaque, maiores saepe nesciunt ducimus tempore ex velit nostrum, quibusdam
      laudantium ut, quidem similique consequatur quis dolores recusandae?
    </p>
  </section>
</PageLayout>
