---
import { parseTitle } from "src/lib/utils";

export interface Props {
  url: string;
  description?: string;
}

const { url, description } = Astro.props;

const response = await fetch(url);
const title = parseTitle(await response.text());
const domain = new URL(url).hostname;
---

<li class="leading-5">
  <a href={url} target="_blank" title={description}
    >{title ?? (url.length > 50 ? url.slice(0, 50) + "..." : url)}</a
  >
  <br />
  <small class="text-gray-500">{domain}</small>
</li>
